In [4]:
import pyspark
import pandas as pd
from pyspark.sql import SparkSession

In [19]:
import pyspark
print(pyspark.__version__)

3.5.0

In [5]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("LocalSparkSession") \
    .getOrCreate()
spark.version

'3.5.1'

In [6]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

In [74]:
df=spark.read\
    .option("header", "true") \
    .csv('fhv_tripdata_2019-10.csv')
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B00009|2019-10-01 00:23:00|2019-10-01 00:35:00|         264|         264|   NULL|                B00009|
|              B00013|2019-10-01 00:11:29|2019-10-01 00:13:22|         264|         264|   NULL|                B00013|
|              B00014|2019-10-01 00:11:43|2019-10-01 00:37:20|         264|         264|   NULL|                B00014|
|              B00014|2019-10-01 00:56:29|2019-10-01 00:57:47|         264|         264|   NULL|                B00014|
|              B00014|2019-10-01 00:23:09|2019-10-01 00:28:27|         264|         264|   NULL|                B00014|
|     B00021         |2019-10-01 00:00:48|2019-10-01 00:07:12|         129|         129|   NULL|       B00021         |
|     B00021         |2019-10-01 00:47:23|2019-10-01 00:53:25|          57|          57|   NULL|       B00021         |
|     B00021         |2019-10-01 00:10:06|2019-10-01 00:19:50|         173|         173|   NULL|       B00021         |
|     B00021         |2019-10-01 00:51:37|2019-10-01 01:06:14|         226|         226|   NULL|       B00021         |
|     B00021         |2019-10-01 00:28:23|2019-10-01 00:34:33|          56|          56|   NULL|       B00021         |
|     B00021         |2019-10-01 00:31:17|2019-10-01 00:51:52|          82|          82|   NULL|       B00021         |
|              B00037|2019-10-01 00:07:41|2019-10-01 00:15:23|         264|          71|   NULL|                B00037|
|              B00037|2019-10-01 00:13:38|2019-10-01 00:25:51|         264|          39|   NULL|                B00037|
|              B00037|2019-10-01 00:42:40|2019-10-01 00:53:47|         264|         188|   NULL|                B00037|
|              B00037|2019-10-01 00:58:46|2019-10-01 01:10:11|         264|          91|   NULL|                B00037|
|              B00037|2019-10-01 00:09:49|2019-10-01 00:14:37|         264|          71|   NULL|                B00037|
|              B00037|2019-10-01 00:22:35|2019-10-01 00:36:53|         264|          35|   NULL|                B00037|
|              B00037|2019-10-01 00:54:27|2019-10-01 01:03:37|         264|          61|   NULL|                B00037|
|              B00037|2019-10-01 00:08:12|2019-10-01 00:28:47|         264|         198|   NULL|                B00037|
|              B00053|2019-10-01 00:05:24|2019-10-01 00:53:03|         264|         264|   NULL|                  #N/A|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [75]:
df_pandas = pd.read_csv('fhv_tripdata_2019-10.csv')
spark.createDataFrame(df_pandas).schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropOff_datetime', StringType(), True), StructField('PUlocationID', DoubleType(), True), StructField('DOlocationID', DoubleType(), True), StructField('SR_Flag', DoubleType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [76]:
from pyspark.sql import types
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropOff_datetime', types.TimestampType(), True),
    types.StructField('PUlocationID', types.IntegerType(), True),
    types.StructField('DOlocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True),
    types.StructField('Affiliated_base_number', types.StringType(), True)
])

In [82]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhv_tripdata_2019-10.csv')
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B00009|2019-10-01 00:23:00|2019-10-01 00:35:00|         264|         264|   NULL|                B00009|
|              B00013|2019-10-01 00:11:29|2019-10-01 00:13:22|         264|         264|   NULL|                B00013|
|              B00014|2019-10-01 00:11:43|2019-10-01 00:37:20|         264|         264|   NULL|                B00014|
|              B00014|2019-10-01 00:56:29|2019-10-01 00:57:47|         264|         264|   NULL|                B00014|
|              B00014|2019-10-01 00:23:09|2019-10-01 00:28:27|         264|         264|   NULL|                B00014|
|     B00021         |2019-10-01 00:00:48|2019-10-01 00:07:12|         129|         129|   NULL|       B00021         |
|     B00021         |2019-10-01 00:47:23|2019-10-01 00:53:25|          57|          57|   NULL|       B00021         |
|     B00021         |2019-10-01 00:10:06|2019-10-01 00:19:50|         173|         173|   NULL|       B00021         |
|     B00021         |2019-10-01 00:51:37|2019-10-01 01:06:14|         226|         226|   NULL|       B00021         |
|     B00021         |2019-10-01 00:28:23|2019-10-01 00:34:33|          56|          56|   NULL|       B00021         |
|     B00021         |2019-10-01 00:31:17|2019-10-01 00:51:52|          82|          82|   NULL|       B00021         |
|              B00037|2019-10-01 00:07:41|2019-10-01 00:15:23|         264|          71|   NULL|                B00037|
|              B00037|2019-10-01 00:13:38|2019-10-01 00:25:51|         264|          39|   NULL|                B00037|
|              B00037|2019-10-01 00:42:40|2019-10-01 00:53:47|         264|         188|   NULL|                B00037|
|              B00037|2019-10-01 00:58:46|2019-10-01 01:10:11|         264|          91|   NULL|                B00037|
|              B00037|2019-10-01 00:09:49|2019-10-01 00:14:37|         264|          71|   NULL|                B00037|
|              B00037|2019-10-01 00:22:35|2019-10-01 00:36:53|         264|          35|   NULL|                B00037|
|              B00037|2019-10-01 00:54:27|2019-10-01 01:03:37|         264|          61|   NULL|                B00037|
|              B00037|2019-10-01 00:08:12|2019-10-01 00:28:47|         264|         198|   NULL|                B00037|
|              B00053|2019-10-01 00:05:24|2019-10-01 00:53:03|         264|         264|   NULL|                  #N/A|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [83]:
df = df.repartition(6)
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B03016|2019-10-03 21:44:14|2019-10-03 21:57:46|         264|         174|   NULL|                B03016|
|              B00900|2019-10-03 01:21:42|2019-10-03 01:25:11|         264|         216|   NULL|                B00900|
|              B02060|2019-10-01 13:49:59|2019-10-01 14:39:57|         163|           1|   NULL|                B02060|
|              B00802|2019-10-03 10:13:27|2019-10-03 10:25:23|         264|          11|   NULL|                B00802|
|              B00310|2019-10-03 06:19:26|2019-10-03 06:31:54|         264|          20|   NULL|                B00310|
|              B02846|2019-10-01 17:15:08|2019-10-01 18:20:38|         264|          76|   NULL|                B02872|
|              B02735|2019-10-03 12:53:11|2019-10-03 13:50:59|         264|          51|   NULL|                B02835|
|              B02437|2019-10-03 10:14:25|2019-10-03 10:16:31|         264|         248|   NULL|                B02437|
|              B02509|2019-10-04 10:52:31|2019-10-04 11:13:57|         264|         168|   NULL|                B02509|
|              B01016|2019-10-03 08:16:55|2019-10-03 08:17:57|         264|          76|   NULL|                B01016|
|              B01259|2019-10-03 07:56:47|2019-10-03 08:02:03|         264|         217|   NULL|                B01259|
|              B01717|2019-10-02 09:14:10|2019-10-02 09:34:38|         264|         250|   NULL|                B01717|
|              B01061|2019-10-02 08:12:53|2019-10-02 08:31:19|         264|         147|   NULL|                B01061|
|              B02550|2019-10-01 16:33:18|2019-10-01 16:55:46|         264|         254|   NULL|                B02550|
|              B00350|2019-10-02 14:59:56|2019-10-02 15:06:34|         264|          92|   NULL|                B00350|
|              B01065|2019-10-04 03:37:04|2019-10-04 03:46:23|         264|          74|   NULL|                B01065|
|              B02243|2019-10-01 16:19:00|2019-10-01 16:39:00|          33|          26|   NULL|                LX-191|
|              B02157|2019-10-03 13:51:56|2019-10-03 15:21:50|         264|         265|   NULL|                B02157|
|              B01061|2019-10-02 22:15:43|2019-10-02 22:17:31|         264|         213|   NULL|                B01061|
|              B01506|2019-10-01 13:40:25|2019-10-01 13:47:27|         223|         223|   NULL|                B01506|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [48]:
df.write.parquet('fhvhv/2019/01/',mode='overwrite')

In [49]:
df = spark.read.parquet('fhvhv/2019/01/')

In [50]:
df.printSchema()

root
 |-- hvfhs_license_num: string (nullable = true)
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropOff_datetime: timestamp (nullable = true)
 |-- PUlocationID: integer (nullable = true)
 |-- DOlocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)

In [84]:
from pyspark.sql import functions as F
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B03016|2019-10-03 21:44:14|2019-10-03 21:57:46|         264|         174|   NULL|                B03016|
|              B00900|2019-10-03 01:21:42|2019-10-03 01:25:11|         264|         216|   NULL|                B00900|
|              B02060|2019-10-01 13:49:59|2019-10-01 14:39:57|         163|           1|   NULL|                B02060|
|              B00802|2019-10-03 10:13:27|2019-10-03 10:25:23|         264|          11|   NULL|                B00802|
|              B00310|2019-10-03 06:19:26|2019-10-03 06:31:54|         264|          20|   NULL|                B00310|
|              B02846|2019-10-01 17:15:08|2019-10-01 18:20:38|         264|          76|   NULL|                B02872|
|              B02735|2019-10-03 12:53:11|2019-10-03 13:50:59|         264|          51|   NULL|                B02835|
|              B02437|2019-10-03 10:14:25|2019-10-03 10:16:31|         264|         248|   NULL|                B02437|
|              B02509|2019-10-04 10:52:31|2019-10-04 11:13:57|         264|         168|   NULL|                B02509|
|              B01016|2019-10-03 08:16:55|2019-10-03 08:17:57|         264|          76|   NULL|                B01016|
|              B01259|2019-10-03 07:56:47|2019-10-03 08:02:03|         264|         217|   NULL|                B01259|
|              B01717|2019-10-02 09:14:10|2019-10-02 09:34:38|         264|         250|   NULL|                B01717|
|              B01061|2019-10-02 08:12:53|2019-10-02 08:31:19|         264|         147|   NULL|                B01061|
|              B02550|2019-10-01 16:33:18|2019-10-01 16:55:46|         264|         254|   NULL|                B02550|
|              B00350|2019-10-02 14:59:56|2019-10-02 15:06:34|         264|          92|   NULL|                B00350|
|              B01065|2019-10-04 03:37:04|2019-10-04 03:46:23|         264|          74|   NULL|                B01065|
|              B02243|2019-10-01 16:19:00|2019-10-01 16:39:00|          33|          26|   NULL|                LX-191|
|              B02157|2019-10-03 13:51:56|2019-10-03 15:21:50|         264|         265|   NULL|                B02157|
|              B01061|2019-10-02 22:15:43|2019-10-02 22:17:31|         264|         213|   NULL|                B01061|
|              B01506|2019-10-01 13:40:25|2019-10-01 13:47:27|         223|         223|   NULL|                B01506|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [63]:
df \
    .withColumn('dropoff_date', F.to_date(df.dropOff_datetime)) \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .select('pickup_date', 'dropoff_date', 'PULocationID', 'DOLocationID') \
    .filter("pickup_date = '2019-10-15'") \
    .count()

62610

In [85]:
 df\
    .withColumn('dropOff_time', F.unix_timestamp('dropOff_datetime')) \
    .withColumn('pickup_time', F.unix_timestamp('pickup_datetime')) \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .withColumn('time_difference', (F.col('dropOff_time') - F.col('pickup_time')) / 3600) \
    .select('pickup_date', 'pickup_datetime', 'dropOff_time', 'dropOff_datetime', 'time_difference') \
    .orderBy(F.desc('time_difference')) \
    .show()

+-----------+-------------------+------------+-------------------+------------------+
|pickup_date|    pickup_datetime|dropOff_time|   dropOff_datetime|   time_difference|
+-----------+-------------------+------------+-------------------+------------------+
| 2019-10-28|2019-10-28 09:00:00|  3844416600|2091-10-28 09:30:00|          631152.5|
| 2019-10-11|2019-10-11 18:00:00|  3842980200|2091-10-11 18:30:00|          631152.5|
| 2019-10-31|2019-10-31 23:46:33|  1888200780|2029-11-01 00:13:00| 87672.44083333333|
| 2019-10-01|2019-10-01 21:43:42|  1822441523|2027-10-01 21:45:23| 70128.02805555555|
| 2019-10-17|2019-10-17 14:00:00|  1602993600|2020-10-18 00:00:00|            8794.0|
| 2019-10-26|2019-10-26 21:26:00|  1603762560|2020-10-26 21:36:00| 8784.166666666666|
| 2019-10-30|2019-10-30 12:30:04|  1577728928|2019-12-30 13:02:08|1465.5344444444445|
| 2019-10-25|2019-10-25 07:04:57|  1575809673|2019-12-08 07:54:33|1057.8266666666666|
| 2019-10-25|2019-10-25 07:04:57|  1575807671|2019-12-08 07:21:11|1057.2705555555556|
| 2019-10-01|2019-10-01 13:47:17|  1572812428|2019-11-03 15:20:28| 794.5530555555556|
| 2019-10-01|2019-10-01 07:21:12|  1572788661|2019-11-03 08:44:21| 794.3858333333334|
| 2019-10-01|2019-10-01 13:41:00|  1572811131|2019-11-03 14:58:51|          794.2975|
| 2019-10-01|2019-10-01 18:43:20|  1572828193|2019-11-03 19:43:13| 793.9980555555555|
| 2019-10-01|2019-10-01 18:43:46|  1572828184|2019-11-03 19:43:04| 793.9883333333333|
| 2019-10-01|2019-10-01 07:07:09|  1572785926|2019-11-03 07:58:46| 793.8602777777778|
| 2019-10-01|2019-10-01 14:49:28|  1572813487|2019-11-03 15:38:07| 793.8108333333333|
| 2019-10-01|2019-10-01 05:36:30|  1572780216|2019-11-03 06:23:36|           793.785|
| 2019-10-01|2019-10-01 15:02:55|  1572814145|2019-11-03 15:49:05| 793.7694444444444|
| 2019-10-01|2019-10-01 06:08:01|  1572781995|2019-11-03 06:53:15| 793.7538888888889|
| 2019-10-01|2019-10-01 06:41:17|  1572783964|2019-11-03 07:26:04| 793.7463888888889|
+-----------+-------------------+------------+-------------------+------------------+
only showing top 20 rows

In [90]:


df.select('PUlocationID') \
    .groupby('PUlocationID') \
    .count() \
    .orderBy(asc('count')) \
    .show()

+------------+-----+
|PUlocationID|count|
+------------+-----+
|           2|    1|
|         105|    2|
|         111|    5|
|          30|    8|
|         120|   14|
|          12|   15|
|         207|   23|
|          27|   25|
|         154|   26|
|           8|   29|
|         128|   39|
|         253|   47|
|          96|   53|
|          34|   57|
|          59|   62|
|          58|   77|
|          99|   89|
|         190|   98|
|          54|  105|
|         217|  110|
+------------+-----+
only showing top 20 rows